<div class="<%= bem %> position-relative level-<%= level %>">
  <%= render attribute(scripture.to_s).with_label(:title).without_label.wrap_with(:span).with_link(urls.to(scripture)) %> -
  <%= render attribute(scripture.title).with_label(:title).without_label.wrap_with(:span) %>
  <%= render attribute(scripture.description).with_label(:description).without_label.wrap_with(:small) %>
  <%= render menu %>
</div>

<% if children.any? %>
  <ul>
    <% children.each do |scripture| %>
      <li><%= render Scriptures::IndexItemComponent.new(profile_owner: profile_owner, scripture: scripture, level: level) %></li>
    <% end %>
  </ul>
<% end %>
