<div class="<%= bem %> position-relative level-<%= level %>">
  <div class="paragraph">
    <%= render menu %>
    <%= render attribute(scripture.title).with_label(:title).without_label.wrap_with(:span, class: bem(:title)) %>
    <%= render Scriptures::TagsComponent.new(tags: scripture.tags, profile_owner: profile_owner) %>
  </div>
</div>

<%= render attribute(scripture.description).with_label(:description).without_label.wrap_with(:small) %>

<% if children.any? %>
  <ul>
    <% children.each do |scripture| %>
      <li><%= render Scriptures::IndexItemComponent.new(profile_owner: profile_owner, scripture: scripture, level: level) %></li>
    <% end %>
  </ul>
<% end %>
