<%= render breadcrumb %>
<%= render flash %>
<%= render menu %>

<div class="<%= bem %>">
  <% collection.parents.each do |record| %>
    <%= render Scriptures::IndexItemComponent.new(profile_owner: profile_owner, scripture: record) %> 
  <% end %>
</div>

<%= render pagination %>
