<h1>Users</h1>


<% @users.each do |user| %>
  <hr>
  <div class="row">
    <div class="col-sm-1"> 
      <% if user.avatar %>
        <%= image_tag("#{user.avatar}?sz=25", class: 'avatar-25') %>
      <% end %>
    </div>
    <div class="col-sm-1">
      <%= 'Admin' if user.master? %>
      <%= 'Enabled' if user.enabled? %>
    </div>
    <div class="col-sm-3"> <%= user.name %></div>
    <div class="col-sm-3"> <%= user.email %></div>
    <div class="col-sm-4">
      <% if user.enabled? %>
        <a href="/users/<%= user.id %>/disable" data-method="PATCH" class="btn btn-danger" data-confirm="Sure you want to disable the account for <%= user.name %> (<%= user.email %> )?">Disable</a>
      <% else %>
        <a href="/users/<%= user.id %>/enable" data-method="PATCH" class="btn btn-success" data-confirm="Sure you want to enable the account for <%= user.name %> (<%= user.email %> )?">Enable</a>
      <% end %>

      <% if user.master? %>
        <a href="/users/<%= user.id %>/revoke_admin" data-method="PATCH" class="btn btn-danger" data-confirm="Sure you want to revoke admin rights from <%= user.name %> (<%= user.email %> )?">Revoke Admin</a>
      <% else %>
        <a href="/users/<%= user.id %>/grant_admin" data-method="PATCH" class="btn btn-success" data-confirm="Sure you want to grant admin rights to <%= user.name %> (<%= user.email %> )?">Grant Admin</a>
      <% end %>
    </div>
  </div>
<% end %>
