<%= render breadcrumb %>
<%= render flash %>
<%= render menu %>

<div class="index-page">
  <% timelines.each do |timeline| %>
    <%= render Timelines::IndexItemComponent.new(timeline: timeline) %>
  <% end %>
</div>
<%= render pagination %>
