<h3> <%= timeline.name %></h3>

<!-- <?xml version="1.0" standalone="no"?> -->
<svg width="<%= width %>" height="<%= height %>" version="1.1" xmlns="http://www.w3.org/2000/svg">
  <% years_to_display.each do |year| %>
    <a href="#<%= year %>" class="<%= bem('year') %>" data-bs-placement="bottom">
      <line 
        x1="<%= year_x(year) %>" 
        x2="<%= year_x(year) %>" 
        y1="1" 
        y2="<%= height %>" 
        stroke="#ddd" 
        stroke-width="1"
        />
    </a>
  <% end %>

  <% entries.each do |entry| %>
    <a 
      class="<%= bem('link') %>" 
      title="<%= popover_title(entry) %>" 
      data-bs-placement="bottom" 
      <% content =  popover_content(entry) %>
      <% if content.present? %>
        data-bs-content="<%= content %>" 
      <% end %>
      data-bs-container="body"
    >
      <line 
        x1="<%= event_x1(entry) %>" 
        x2="<%= event_x2(entry) %>" 
        y1="<%= event_y(entry) %>" 
        y2="<%= event_y(entry) %>" 
        stroke="<%= event_color(entry) %>" 
        stroke-width="<%= stroke_width %>"
      />
    </a>
  <% end %>
</svg>
