<h3> <%= timeline.name %></h3>

<!-- <?xml version="1.0" standalone="no"?> -->
<svg width="<%= width %>" height="<%= height %>" version="1.1" xmlns="http://www.w3.org/2000/svg">
  <% years_to_display.each do |year| %>
    <a href="#<%= year %>" class="<%= bem('year') %>" data-bs-placement="bottom">
      <line 
        x1="<%= year_x(year) %>" 
        x2="<%= year_x(year) %>" 
        y1="1" 
        y2="<%= height %>" 
        stroke="#ddd" 
        stroke-width="1"
        />
    </a>
  <% end %>

  <% helper.renderable_events.each do |element| %>
    <%= content_tag(element.tag, "", element.attributes) %>
  <% end %>
</svg>
