<%= render breadcrumb  %>
<%= render flash  %>

<%= simple_form_for(form, url: target_url, as: :entry) do |f| %>
  <div class="row">
    <div class="col-sm-10">
      <%= input_wrapper do %>
        <%= f.input :title %>
      <% end %>
    </div>
    <div class="col-sm-2">
      <%= input_wrapper do %>
        <%= f.input :color, as: :color, input_html: { value: form.record.color.presence || random_color } %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <%= input_wrapper do %>
        <%= f.input :text %>
      <% end %>
    </div>
    <div class="col-sm-6">
      <%= input_wrapper do %>
        <%= f.input :text_properties, as: :text %>
      <% end %>
    </div>
  </div>

  <fieldset><legend><%= t('app.attributes.from_date') %></legend>
    <div class="row">
      <div class="col-sm-4">
        <%= input_wrapper do %>
          <%= f.input :from_year, label: t('app.attributes.year') %>
        <% end %>
      </div>
      <div class="col-sm-4">
        <%= input_wrapper do %>
          <%= f.input :from_precision, as: :select, collection: precisions, include_blank: true %>
        <% end %>
      </div>
      <div class="col-sm-4">
        <%= input_wrapper do %>
          <%= f.input :from_date_complement %>
        <% end %>
      </div>
    </div>
  </fieldset>

  <fieldset><legend><%= t('app.attributes.to_date') %></legend>
    <div class="row">
      <div class="col-sm-4">
        <%= input_wrapper do %>
          <%= f.input :to_year, label: t('app.attributes.year') %>
        <% end %>
      </div>
      <div class="col-sm-4">
        <%= input_wrapper do %>
          <%= f.input :to_precision, as: :select, collection: precisions, include_blank: true %>
        <% end %>
      </div>
      <div class="col-sm-4">
        <%= input_wrapper do %>
          <%= f.input :to_date_complement %>
        <% end %>
      </div>
    </div>
  </fieldset>

  <%= input_wrapper do %>
    <%= f.input :explanation, as: :text %>
  <% end %>
  <%= input_wrapper do %>
    <%= f.input :confirmed, as: :boolean %>
  <% end %>
  <%= input_wrapper do %>
    <%= f.submit(class: 'btn btn-primary mt-3 float-right') %>
  <% end %>
<% end %>
