<div class="list-item position-relative <%= bem %> <%= bem(entry.confirmed? ? 'confirmed' : '') %>">
  <%= render menu %>
  <%= render attribute(entry.title).with_icon(:alarm).with_label(:title).without_label.wrap_with(:div, class: :h5) %>
  <%= render TimelineEntries::TimeRangeComponent.new(entry: entry) %>
</div>
